
__pycache__/animal_attributes.cpython-37.pyc
__pycache__/mechanics.cpython-37.pyc
__pycache__/animal_attributes.cpython-36.pyc
__pycache__/mechanics.cpython-36.pyc
__pycache__/sentences.cpython-37.pyc
